version: '3.8'

services:
  #SERVIÇO 1: AUTHENTICAÇÃO (DJANGO)
  servico-auth:
    build: ./servico-auth
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./servico-auth:/app
    expose:
      - "8000"

  #SERVIÇO 2: LINKS (DJANGO)
  servico-links:
    build: ./servico-links
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./servico-links:/app
    expose:
      - "8000"

  #SERVIÇO 3: REDIRECIONAMENTO (FLASK)
  servico-redirect:
    build: ./servico-redirect
    command: python app.py
    volumes:
      - ./servico-redirect:/app
    expose:
      - "5000" #Porta padrão do Flask

  #SERVIÇO 4: O GATEWAY (NGINX)
  gateway:
    image: nginx:latest
    ports:
      - "80:80" # A ÚNICA porta pública
    volumes:
      - ./gateway/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - servico-auth
      - servico-links
      - servico-redirect