

services:
  #SERVIÇO 1: AUTHENTICAÇÃO (DJANGO)
  servico-auth:
    build: ./servico-auth
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./servico-auth:/app
    expose:
      - "8000"

    environment:
      - DB_HOST=db-auth
      - DB_NAME=auth_db
      - DB_USER=auth_user
      - DB_PASS=auth_pass
    depends_on:
      - db-auth

  #SERVIÇO 2: LINKS (DJANGO)
  servico-links:
    build: ./servico-links
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./servico-links:/app
    expose:
      - "8000"
    environment:
      - DB_HOST=db-links
      - DB_NAME=links_db
      - DB_USER=links_user
      - DB_PASS=links_pass
    depends_on:
      - db-links

  #SERVIÇO 3: REDIRECIONAMENTO (FLASK)
  servico-redirect:
    build: ./servico-redirect
    command: python app.py
    volumes:
      - ./servico-redirect:/app
    expose:
      - "5000" #Porta padrão do Flask

  #SERVIÇO 4: O GATEWAY (NGINX)
  gateway:
    image: nginx:latest
    ports:
      - "80:80" # A ÚNICA porta pública
    volumes:
      - ./gateway/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - servico-auth
      - servico-links
      - servico-redirect

  db-auth:
    image: postgres:15-alpine
    volumes:
      - postgres_auth_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=auth_db
      - POSTGRES_USER=auth_user
      - POSTGRES_PASSWORD=auth_pass
    expose:
      - "5432"

  db-links:
    image: postgres:15-15-alpine
  volumes:
    - postgres_links_data:/var/lib/postgresql/data
  environment:
    - POSTGRES_DB=links_db
    - POSTGRES_USER=links_user
    - POSTGRES_PASSWORD=links_pass
  expose:
    - "5432"

# Novos volumes para persistência
volumes:
  postgres_auth_data:
  postgres_links_data: